/* Modal window*/
/* The Modal (background) */

.admin-bar-modal {
    width: auto;
    background-color: #fff;
    box-shadow: 0 0 2rem 0 rgb(33 37 41 / 10%);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="search"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 30%;
}

button[id="btn-search"] {
    width: auto;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.admin-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.admin-modal-content {
    background-color: #f5f7fb;
    margin: 2.5% auto;
    /* 15% from the top and centered */
    border: 0.1rem solid #888;
    width: 80%;
    height: 90%;
    border-radius: .5rem;
}

.admin-modal-content .admin-content {
    padding: 2rem 14rem;
    overflow-y: scroll;
    /* Enable scroll if needed */
    max-height: 87%;
}

/* start modal update photo*/

.admin-modal-content .admin-content-update-photo {
    padding: 2rem 14rem;
    height: 90%;
}

.admin-update-img>label img.admin-photo {
    /* max-height: 40.872rem; */
    max-height: 85%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* end modal update photo*/

.admin-card-selected {
    background-color: #1F5B95;
    padding: 0.4rem;
}

.admin-card-selected>.admin-card-content {
    border: none;
}

a.btn-cancel {
    padding: 1rem;
    background-color: transparent;
    border: none;
    color: #1F5B95;
    transition: all .6s;

}

a.btn-cancel:hover {
    background-color: #ced4da;
    color: #1F5B95;
}

a.btn-update {
    padding: 1rem;
}

/* The Close Button */

.admin-close {
    color: #aaa;
    float: right;
    font-size: 2.8rem;
    font-weight: bold;
}

.admin-close:hover,
.admin-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}