/* Banner Style */

.img-fill{
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center
}

.img-fill img {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  display: inline-block;
  max-width: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-banner .img-fill-1 {
  background-image: url(../assets/images/slide_01.jpg);
}

.main-banner .img-fill-2 {
  background-image: url(../assets/images/slide_02.jpg);
}

.main-banner .img-fill-3 {
  background-image: url(../assets/images/slide_03.jpg);
} 

.main-banner .img-fill {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height:95vh;
}

.main-banner .img-fill-bg-color{
  min-height: 100%;
  min-width: 100%;
  background-color: rgba(35, 35, 35, .5);
}

.main-banner .text-content {
    text-align: left;
      width: 75%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.main-banner h6 {
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  text-shadow: #000 .1rem .1rem;
  font-weight: 700;
  letter-spacing: .1rem;
  color:#1F5B95;
  animation:fadeOutRight 1s both;
}

.main-banner h4 {
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: .25rem;
  color:#FFF;
  overflow:hidden;
  animation:fadeOutLeft 1s both;
}

.main-banner p {
    max-width: 57rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 4rem;
}

.main-banner p.no-mb {
  margin-bottom: 0
}

.main-banner a {
  margin: 0 .5rem;
}

.main-banner.slick-active h6{
  animation:fadeInDown 1s both 1s;
}

.main-banner.slick-active h4{
  animation:fadeInLeft 1s both 1.5s;
}

.main-banner.slick-active{
  animation:Slick-FastSwipeIn 1s both;
}

.main-banner .buttons {
  position: relative;
}

.main-banner {background:#000;}
  
/* Responsive Style */

@media (max-width: 768px) {
	.section-heading h2{
		font-size: 2.8rem;
	}
	.main-banner h6 {
	  margin-bottom: 1.5rem;
	  font-size: 1.5rem;
	}
	.main-banner h4 {
	  margin-bottom: 2.5rem;
	  font-size: 2.8rem;
	  line-height: 3.6rem;
	  letter-spacing: .1rem;
	}
	.main-banner p {
		max-width: 57rem;
		line-height: 2.5rem;
		margin-bottom: 3rem;
	}
}

@media (max-width: 425px){
	.main-banner .text-content{
		top: 55%;
	}
	.section-heading{
		margin-bottom: 4rem;
	}
	.section-heading h2{
		font-size: 2.4rem;
	}
}
  