.contact-partners {
	margin-top: -.8rem!important;
}

.partners.testimonials{
	margin-top: 14rem;
	background-color: #f7f7f7;
	padding: 14rem 0;
}

.partners .owl-item {
	text-align: center;
	cursor: pointer;
}

.partners .partner-item img {
	max-width: 15.6rem;
	margin: auto;
}

/* Testimonials Style */

.section-heading h3{
	display: block;
    margin-top: 0;
	margin-bottom: 80px;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #666;
    letter-spacing: .1rem;
}

.about-testimonials {
	margin-top: 0!important;
}

.testimonials {
	margin-top: 0;
	background-color: #f7f7f7;
	padding: 0 0 14rem;
}
.testimonial-item .inner-content {
	text-align: center;
	background-color: #fff;	
	padding: 3rem;
	border-radius: 5px;
}
.testimonial-item p {
	font-size: 1.4rem;
	font-weight: 400;
}
.testimonial-item h4 {
	font-size: 1.9rem;
	font-weight: 700;
	color: #1e1e1e;
	letter-spacing: .05rem;
	margin-bottom: 0;
}
.testimonial-item span {
	display: inline-block;
	margin-top: .8rem;
	font-weight: 600;
	font-size: 1.4rem;
	color: #1F5B95;
}
.testimonial-item img {
	max-width: 6rem;
	border-radius: 50%;
	margin: 2.5rem auto 0 auto;
}

@media (max-width: 425px){
	.partners.testimonials{
		margin-top: 7rem;
		padding-top: 7rem;
		padding-bottom: 7rem;
	}
}