.contact-partners {
	margin-top: -8px!important;
}

.partners.testimonials{
	margin-top: 140px;
	background-color: #f7f7f7;
	padding: 140px 0px;
}

.partners .owl-item {
	text-align: center;
	cursor: pointer;
}

.partners .partner-item img {
	max-width: 156px;
	margin: auto;
}

/* Testimonials Style */

.section-heading h3{
	display: block;
    margin-top: 0;
	margin-bottom: 80px;
    text-transform: uppercase;
    font-size: 15px;
    color: #666;
    letter-spacing: 1px;
}

.about-testimonials {
	margin-top: 0px!important;
}

.testimonials {
	margin-top: 0;
	background-color: #f7f7f7;
	padding: 0px 0px 140px;
}
.testimonial-item .inner-content {
	text-align: center;
	background-color: #fff;	
	padding: 30px;
	border-radius: 5px;
}
.testimonial-item p {
	font-size: 14px;
	font-weight: 400;
}
.testimonial-item h4 {
	font-size: 19px;
	font-weight: 700;
	color: #1e1e1e;
	letter-spacing: 0.5px;
	margin-bottom: 0px;
}
.testimonial-item span {
	display: inline-block;
	margin-top: 8px;
	font-weight: 600;
	font-size: 14px;
	color: #1F5B95;
}
.testimonial-item img {
	max-width: 60px;
	border-radius: 50%;
	margin: 25px auto 0px auto;
}

@media (max-width: 425px){
	.partners.testimonials{
		margin-top: 70px;
		padding-top: 70px;
		padding-bottom: 70px;
	}
}