/* Footer Style */

footer {
	background-color: #232323;
	padding: 8rem 0;
	color: #fff;
}

footer h4 {
	color: #fff;
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: .025rem;
	display: inline-block;
}

footer p {
	color: #fff;
}

footer ul.social-icons {
	margin-top: 2.5rem;
}

footer ul.social-icons li {
	display: inline-block;
	margin-right: .5rem;
}

footer ul.social-icons li:last-child {
	margin-right: 0;
}

footer ul.social-icons li a {
	width: 3.4rem;
	height: 3.4rem;
	display: inline-block;
	line-height: 3.4rem;
	text-align: center;
	background-color: #fff;
	color: #232323;
	border-radius: 50%;
	transition: all 0.6s;
}

footer ul.social-icons li a:hover {
	background-color: #1F5B95;
}

footer ul.menu-list li {
	margin-bottom: 1.3rem;
}

footer ul.menu-list li:last-child {
	margin-bottom: 0;
}

footer ul.menu-list li a {
	font-size: 1.4rem;
	color: #fff;
	transition: all 0.6s;
}

footer ul.menu-list li a:hover {
	color: #1F5B95;
}

footer ul.menu-list li span.principal-color {
    font-size: 2rem;
    color: #1F5B95;
}

footer .contact-form input {
	border-radius: 2rem;
	height: 4rem;
	line-height: 40px;
	display: inline-block;
	padding: 0 1.5rem;
	color: #aaa!important;
	background-color: #343434;
	font-size: 1.3rem;
	text-transform: none;
	box-shadow: none;
	border: none;
	margin-bottom: 1.5rem;
}

footer .contact-form input:focus {
	outline: none;
	box-shadow: none;
	border: none;
	background-color: #343434;
}

footer .contact-form textarea {
	border-radius: 2rem;
	height: 12rem;
	max-height: 20rem;
	min-height: 12rem;
	display: inline-block;
	padding: 15rem;
	color: #aaa!important;
	background-color: #343434;
	font-size: 1.3rem;
	text-transform: none;
	box-shadow: none;
	border: none;
	margin-bottom: 1.5rem;
}

footer .contact-form textarea:focus {
	outline: none;
	box-shadow: none;
	border: none;
	background-color: #343434;
}

footer .contact-form ::-webkit-input-placeholder { /* Edge */
  color: #aaa;
}
footer .contact-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaa;
}
footer .contact-form ::placeholder {
  color: #aaa;
}

footer .contact-form button.filled-button {
	background-color: transparent;
	color: #fff;
	background-color: #1F5B95;
	border: none;
	font-size: 1.3rem;
	text-transform: uppercase;
	font-weight: 700;
	padding: 1.2rem 3rem;
	border-radius: 3rem;
	display: inline-block;
	transition: all 0.6s;
	outline: none;
	box-shadow: none;
	text-shadow: none;
	cursor: pointer;
}

footer .contact-form button.filled-button:hover {
	background-color: #fff;
	color: #1F5B95;
}

.pl-18px{
	padding-left: 2.5rem;
}

/* Responsive Style */
@media (max-width: 768px) {
	footer {
		padding: 8rem 0 2rem 0;
	}
	footer h4{
		font-size: 1.6rem;
	}
	footer p{
		font-size: 1.3rem;
	}
	footer ul.social-icons li{
		margin-right: 2rem;
		width: 2rem;
	}
	footer ul.menu-list li a{
		font-size: 1.3rem;
	}
	footer .footer-item {
		margin-bottom: 3rem;
		padding-bottom: 3rem;
	}
	footer {
		padding: 8rem 0 2rem 0;
	}
	footer .footer-item {
		border-bottom: .1rem solid #343434;
		margin-bottom: 3rem;
		padding-bottom: 3rem;
	}
}

@media (max-width: 425px){
	footer{
		padding-top: 0;
		margin-top: -7rem;
	}
	footer h4{
		font-size: 2rem;
		margin-top: 4rem;
	}
	footer .footer-item{
		margin-bottom: 0;
		border-bottom: .1rem solid #343434;
	}
	footer .last-item{
		border: none;
	}
}
