/* Fun Facts */

.fun-facts {
	margin-top: 14rem;
	background-image: url(../assets/images/fun-facts-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 8rem 0;
	color: #fff;
}

.fun-facts .row{
	margin-left: -5rem;
	margin-right: -5rem;
}

.fun-facts span {
	text-transform: uppercase;
	font-size: 1.5rem;
	color: #fff;
	letter-spacing: .1rem;
	margin-bottom: 1rem;
	display: block;
}

.fun-facts h2 {
	font-size: 3.6rem;
	font-weight: 600;
	margin-bottom: 3.5rem;
}

.fun-facts em {
	font-style: normal;
	color: #1F5B95;
}

.fun-facts p {
	color: #fff;
	margin-bottom: 4rem;
}

.fun-facts .left-content {
	margin-right: 4.5rem;
}

.count-area-content {
	text-align: center;
	background-color: rgba(250,250,250,0.1);
	padding: 2.5rem 3rem 3.5rem 3rem;
	margin: 1.5rem 0;
}

.count-digit {
    margin: .5rem 0;
    color: #1F5B95;
    font-weight: 700;
    font-size: 3.6rem;
}
.count-title {
    font-size: 1.9rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: .05rem;
}

footer ul.menu-list li span {
    font-size: 1.4rem;
    color: #fff;
}

/* Responsive Style */

@media (max-width: 768px) {
	.fun-facts .container .row{
		margin-left: .5rem;
		margin-right: .5rem;
	}
	.fun-facts .count-area-content{
		padding-left: 0;
		padding-right: 0;
	}
	.fun-facts #count-area-content-4 .count-title{
		padding-top: 8%;
		padding-bottom: 8%;
	}
	.fun-facts .count-title{
		font-size: 1em;
	}
}

@media (max-width: 425px){
	.fun-facts{
		margin-top: 7rem;
	}

	.fun-facts .count-title{
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}