.section-heading {
	text-align: center;
	margin-bottom: 8rem;
}

.section-heading h2 {
	font-size: 3.6rem;
	font-weight: 600;
	color: #1e1e1e;
}

.section-heading em {
	font-style: normal;
	color: #1F5B95;
}

.section-heading span {
	display: block;
	margin-top: 1.5rem;
	text-transform: uppercase;
	font-size: 1.5rem;
	color: #666;
	letter-spacing: .1rem;
}

/* Responsive Style */

@media (max-width: 768px) {
	.section-heading h2{
		font-size: 2.8rem;
	}
}

@media (max-width: 425px){
	.section-heading{
		margin-bottom: 4rem;
	}
	.section-heading h2{
		font-size: 2.4rem;
	}
}

