html{
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.principal-color{
    color: #1F5B95;
    font-size: 2rem;
    font-weight: 700;
}

.admin-white{
    background-color: #fff;
}