.admin-update-img input{
    display: none;
}

.admin-update-img>label{
    cursor: pointer;
    border: solid .1rem #ced4da;
    width: 100%;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.admin-form-update-img{
    height: 7rem;
    display: block;
}
