.admin-update-img {
    transition: all .6s;
}

.admin-update-img svg {
    font-size: 5rem;
    color: #ced4da;
    transition: all .6s;
}

.admin-update-img:hover {
    color: #1F5B95;
}

.admin-update-img:hover svg {
    color: #1F5B95;
}

.admin-logo-cliente {
    max-width: 22.8rem;
    height: 10.4167rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}