.admin-input-associado{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 80%;
}

.admin-btn-select{
    background-color: #1F5B95;
    color: #fff;
    border: .1rem solid #1F5B95;
    transition: all .5s;
}

.admin-btn-select:hover{
    background-color: #fff;
    color: #1F5B95;
}