.admin-perfilbar-link,
a.admin-perfilbar-link {
    border-left: 3px solid transparent;
    color: #666666;
    cursor: pointer;
    display: block;
    font-weight: 400;
    padding: 0.625rem 1.625rem;
    position: relative;
    text-decoration: none;
    transition: background .1s ease-in-out;
}

.admin-perfilbar-link i,
.admin-perfilbar-link svg,
a.admin-perfilbar-link i,
a.admin-perfilbar-link svg {
    color: rgba(233, 236, 239, .5);
    margin-right: .75rem
}

.admin-perfilbar-link:focus {
    outline: 0
}

.admin-perfilbar-link:hover {
    border-left-color: transparent
}

.admin-perfilbar-link:hover,
.admin-perfilbar-link:hover i,
.admin-perfilbar-link:hover svg {
    color: rgba(233, 236, 239, .75)
}

.admin-perfilbar-item.admin-active .admin-perfilbar-link:hover,
.admin-perfilbar-item.admin-active>.admin-perfilbar-link {
    border-left-color: #3b7ddd;
    color: #e9ecef
}

.admin-perfilbar-item.admin-active .admin-perfilbar-link:hover i,
.admin-perfilbar-item.admin-active .admin-perfilbar-link:hover svg,
.admin-perfilbar-item.admin-active>.admin-perfilbar-link i,
.admin-perfilbar-item.admin-active>.admin-perfilbar-link svg {
    color: #e9ecef
}

.admin-perfil-item {
    padding: .6em;
}

.admin-perfil-item .admin-d-flex {
    align-items: center;
}

.admin-perfil-item svg {
    font-size: 2.3rem;
    padding-right: .5rem;
    display: block;
}

span.admin-perfil-title {
    margin-top: -.4rem;
    margin-left: 0rem;
}

.admin-perfil .admin-card {
    box-shadow: 0 0 0 0 rgb(33 37 41 / 5%);
    margin-bottom: 0;
}

.admin-perfil h4 {
    color: #939ba2;
    font-size: 1.4;
    font-weight: 600;
}

.admin-perfil-h5 {
    color: #939ba2;
    font-size: 1.4rem;
    font-weight: 600;
    padding: .6rem;
}

.admin-perfil li>a {
    padding: .6rem;
    transition: all .5s;
}

.admin-perfil li>a:hover {
    background-color: #ced4da;
    color: #1F5B95;
}

.admin-perfil-menu {
    border-right: 2px solid rgba(9, 9, 9, 0.1);
}

.admin-image-container {
    position: relative;
    display: inline-block;
}

.admin-update-photo-btn {
    position: absolute;
    bottom: 1.5rem;
    right: 2.5rem;
    padding-top: 1.5rem;
    background-color: #ced4da;
    color: #1F5B95;
    border: none;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .6s;
}

.admin-update-photo-btn:hover{
    opacity: .7;
    color: #1F5B95;
}

.admin-image-container {
    position: relative;
    display: inline-block;
}

.admin-update-photo-btn-cli {
    position: absolute;
    bottom: 7rem;
    right: -12.5rem;
    padding-top: 1.5rem;
    background-color: #ced4da;
    color: #1F5B95;
    border: none;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    font-size: 1.4rem;
    cursor: pointer;
    opacity: .7;
    transition: all .6s;
}

.admin-update-photo-btn-cli:hover{
    opacity: 1;
    color: #1F5B95;
}