button.btn-eye-signup1{
    position: absolute;
    top: 50.5%;
    right: 40.5%;
    background-color: transparent;
    border: none;
    outline: none;
}

button.btn-eye-signup2{
    position: absolute;
    top: 60.5%;
    right: 40.5%;
    background-color: transparent;
    border: none;
    outline: none;
}